// main: ./main.scss

// COLOR VARIABLES
$header-orange: #ea6f52;
$body-blue: #a9d4e2;
$search-box-blue: #b6e4f3;
$stripes-lt-blue: #7da7b4;
$stripes-dk-blue: #527c89;

// MIXINS
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  // color: red;
}
