// main: ./main.scss

// COLOR VARIABLES
$header-orange: #ea6f52;
$body-blue: #a9d4e2;
$locationbar-blue: #b6e4f3;
$stripes-lt-blue: #7da7b4;
$stripes-dk-blue: #527c89;

$text-white: #fff;
$text-black: #000;

$container-max-width: 800px;

// MIXINS
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

html {
  font-family: 'Roboto', sans-serif;
  @include mq(600px) {
    font-size: 140%;
  }
}

body {
  background: $body-blue;
}

// single column grid layout that fits the viewport height with fixed footer
.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto) 1fr auto;
}

// when loading, there will only be 3 rows (Header, Loading, Footer)
.app-loading {
  grid-template-rows: auto 1fr auto;
}

.loading-screen,
.error-screen {
  display: grid;
  justify-content: center;
  align-content: center;

  text-align: center;
}

// SHARED CLASSES
.stripe-light {
  background: $stripes-lt-blue;
}

.stripe-dark {
  background: $stripes-dk-blue;
}
