// main: ./main.scss

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

button:active {
  transform: scale(0.96);
}

.locationbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0.5em 0.2em;
  min-height: 65px;
}

.icon-button {
  background: none;

  padding: 0 0.4em;
  margin: 0;
}

.icon-button:hover,
.icon-button:focus {
  color: $header-orange;
}

.icon-button:focus {
  outline: 1px solid $header-orange;
  outline-offset: -4px;
}

.icon-button:active {
  transform: scale(0.96);
}

.form-wrapper {
  background: $locationbar-blue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form-wrapper:focus-within {
  outline: 2px solid $header-orange;
  box-shadow: 1px 1px 5px grey;
}

.search-icon {
  padding: 0.25em 0.4em;
}

.search-input {
  background: $locationbar-blue;
  border: none;
  border-radius: 10px;
  display: block;

  // margin: 0 auto;
  width: 100%;
  // font-size: 1.5rem;
  text-align: center;
}

.search-input:focus {
  outline: none;
}

.search-result-wrapper {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;

  list-style-type: none;
  margin: 0;
  padding: 0;
  // box-shadow: ;
  // border: 2px solid white;
  // border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  animation: fadein 150ms ease-in;
}

@keyframes fadein {
  from {
    // opacity: 0;
    transform: scale(0);
    // transform: translateY(-100%);
  }
  to {
    // opacity: 1;
    transform: scale(1);
    // transform: translateY(0);
  }
}

.search-result-wrapper:focus {
  outline: 2px solid $header-orange;
}

.search-result {
  cursor: pointer;
  margin: 0;
}

.search-result:hover,
.search-result:focus {
  color: $header-orange;
}

.units-button-wrapper {
  // background: lightyellow;
  flex: auto;

  display: flex;
  justify-content: space-around;
}

.units-button {
  border-radius: 7px;
  font-size: 1.1rem;
  padding: 0.25em 0.5em;
  background: $stripes-dk-blue;
  color: white;
}

.units-button-active {
  background: $header-orange;
  color: #fff;
}

.units-button:hover,
.units-button:focus {
  filter: brightness(110%);
}

.units-button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
