// main: ./main.scss

.current-weather {
  display: grid;
  grid-template-columns: 60% 40%;

  max-width: $container-max-width;
  margin: 1em auto;

  text-align: center;
}

.current-main {
  position: relative;
}

.current-main::after {
  position: absolute;
  content: '';
  background: #000;
  width: 2px;
  top: 0;
  bottom: 0;
  right: 0;

  @include mq(350px) {
    right: 5%;
  }
}

.main-top {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75px auto;
  align-items: center;
  line-height: 1.3;
  padding: 0.25em 0;
}

.main-weather-icon {
  justify-self: end;

  object-fit: cover;
  img {
    width: 250px;
  }
}

.main-temp-summary {
  justify-self: start;
}

.main-current-temp {
  font-size: 2.25rem;
  font-weight: bold;
}

.main-minmax-temp {
  font-size: 0.8rem;
}

.main-bottom {
}

.main-description {
  font-size: 1.375rem;
}

.main-feels-like,
.main-wind {
  font-size: 0.8rem;
  padding: 0.1em;
}

.current-extra {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 0.75em;
  width: max-content;
}

.extra-list {
  padding-left: 0;
  margin: 0 auto;
}

.extra-list-item {
  list-style: none;
  padding: 0.25em 0;
}

.text-bold {
  font-weight: bold;
}
