// main: ./main.scss

.hourly-forecast-ribbon {
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;

  text-align: center;
  color: white;

  // selects the inner most div of the simplebar wrapper
  .simplebar-content {
    display: flex;
  }

  .simplebar-content-wrapper:focus {
    outline: 2px solid orange;
    outline-offset: -2px;
  }
}

.hourly-box {
  font-size: 0.75rem;
  padding: 0.5em 0 0.75em;
  min-width: 70px;
  line-height: 1;
}

.hourly-time {
  margin-bottom: -0.5em;
}

.new-day {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

.precip-prob {
  margin-top: -0.5em;
  font-size: 0.7rem;
}

.hourly-temp {
  margin-top: 0.5em;
}

.hourly-icon-wrapper {
  object-fit: cover;
  width: 50px;
  margin: 0 auto;

  @include mq(600px) {
    width: 75px;
  }
}

.hourly-icon {
  margin: 0 auto;
}
