// main: ./main.scss

.hourly-forecast-ribbon {
  display: flex;
  overflow-x: auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;

  text-align: center;
  color: white;
}

.hourly-box {
  font-size: 0.75rem;
  padding: 0.5em;
  min-width: 70px;
  line-height: 1;
}

.hourly-light {
  background: $stripes-lt-blue;
}

.hourly-dark {
  background: $stripes-dk-blue;
}

.hourly-time {
  margin-bottom: -0.5em;
}

.precip-prob {
  margin-top: -0.5em;
  font-size: 0.7rem;
}

.hourly-temp {
  margin-top: 0.5em;
}

.hourly-icon-wrapper {
  object-fit: cover;
  width: 50px;
  margin: 0 auto;
}

.hourly-icon {
  margin: 0 auto;
}
